.btn {
  @apply relative overflow-hidden cursor-pointer duration-200;
  //position   : relative;
  //overflow   : hidden;
  //cursor     : pointer;
  //transition : transform .2s ease;

  &:after {
    @apply absolute inset-0 bg-transparent duration-300 content-[''];
    //position   : absolute;
    //top        : 0;
    //right      : 0;
    //bottom     : 0;
    //left       : 0;
    //content    : '';
    //transition : background .3s ease;
    //background : transparent;
  }

  &:hover:after {
    background : rgba(0, 0, 0, 0.05);
  }


  &:active:after {
    background : rgba(0, 0, 0, 0.15);
  }

  &:not(.small):active {
    transform : scale(0.95);
  }

  // * DEFAULT
  &:not(.big):not(.small) {
    font-size     : 16px;
    min-width     : 250px;
    height        : 48px;
    padding       : 0 24px;
    border-radius : 8px;
  }

  // * BIG
  &.big {
    font-size     : 16px;
    height        : 56px;
    padding       : 0 28px;
    border-radius : 8px;
  }

  // * SMALL
  &.small {
    font-size     : 14px;
    padding       : 7px 15px;
    border-radius : 4px;
  }

  //! COLORS

  &.red {
    @apply text-white bg-red;
    //color            : white;
    //background-color : var(--logo_color);
  }

  &.secondary {
    @apply bg-secondary;
    //background-color : var(--btn_transp_color);
  }
}

.radioBtn {
  @apply
  bg-btnRadio hover:bg-btnRadioHover text-gentianBlue
  rounded-full
  pt-7 pb-8 px-16
  active:bg-btnRadioActive;

  &.active {
    @apply bg-gentianBlue text-white;
  }
}