input[type=range] {
  width              : 100%;
  -webkit-appearance : none;
}

input[type=range]:focus {
  outline : none;
}

input[type=range]::-moz-range-track {
  width      : 100%;
  height     : 2px;
  cursor     : grab;
  background : var(--logo_color);
}

input[type=range]::-moz-range-thumb {
  width         : 20px;
  height        : 20px;
  cursor        : grab;
  border        : 0px solid #000;
  border-radius : 1000px;
  background    : var(--logo_color);
  box-shadow    : 0 0 10px var(--logo_color_transparent);

  &:active {
    cursor : grabbing;
  }
}