*, *:after, *:before {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

a, a:visited, a:hover, a:active {
  text-decoration : none;
  color           : inherit;
}

input, button, textarea {
  font       : inherit;
  color      : inherit;
  border     : none;
  outline    : none !important;
  background : inherit;

  & > option {
    font   : 1em 'Arial', serif;
    cursor : pointer;
  }
}

hr {
  border-top    : 0;
  border-right  : 0;
  border-bottom : 0;
  border-left   : 0;
}