input[type=range] {
  width              : 100%;
  -webkit-appearance : none;
}

input[type=range]:focus {
  outline : none;
}

input[type=range]::-moz-range-track {
  width  : 100%;
  height : 2px;
  cursor : grab;
  //background : var(--logo_color);
  @apply bg-red;
}

input[type=range]::-moz-range-thumb {
  @apply
  bg-red
  w-20
  h-20
  cursor-grab
  rounded-full;
  border     : none;
  box-shadow : 0 0 10px rgba(239, 49, 36, 0.55);

  &:active {
    cursor : grabbing;
  }
}